---
import { Login } from '@/components/Login';
import Base from '@/layouts/Base.astro';
---

<Base>
  <div class="flex h-screen items-center justify-center">
    <Login client:load />
  </div>
</Base>
